# Build outputs
build_switch/
*.elf
*.nro
*.nacp
*.nsp
*.zip
*.log
sd_out/
build/
build_nro/
.vscode/
.xmake/
.DS_Store
Thumbs.db
_shim_100B_old.main
_shim_100B_old.npdm
_shim_1013.npdm
_system_settings.ini
_tmp_log_eshop.txt
_tmp_log_eshop2.txt
_tmp_log.txt
launch_profile
